doctype html
html
  head
  
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sejarah Komputer

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h2 Sejarah Komputer

      section
        h2.bullet Pengertian Komputer
        hr
        ul
            li Komputer adalah alat yang dipakai untuk mengolah data menurut prosedur yang telah dirumuskan. 
            li Kata computer pada awalnya dipergunakan untuk menggambarkan orang yang perkerjaannya melakukan perhitungan aritmatika, 
            li dengan atau tanpa alat bantu, tetapi arti kata ini kemudian dipindahkan kepada mesin itu sendiri. Asal mulanya, 
            li pengolahan informasi hampir eksklusif berhubungan dengan masalah aritmetika, 
            li tetapi komputer modern dipakai untuk banyak tugas yang tidak berhubungan dengan matematika.

      section
        h2.bullet 4 Golongan Komputer
        hr
        ul
            li Peralatan manual: yaitu peralatan pengolahan data yang sangat sederhana, dan faktor terpenting dalam pemakaian alat adalah menggunakan tenaga tangan manusia
            li Peralatan Mekanik: yaitu peralatan yang sudah berbentuk mekanik yang digerakkan dengan tangan secara manual
            li Peralatan Mekanik Elektronik: Peralatan mekanik yang digerakkan oleh secara otomatis oleh motor elektronik
            li Peralatan Elektronik: Peralatan yang bekerjanya secara elektronik penuh
            
      section
        h2.bullet Komputer Generasi Pertama
        hr
        ul 
            li Awal mulanya komputer pada generasi pertama ini adalah saat terjadi perang dunia kedua.
            li Pada tahun 1943, pihak Inggris berhasil menyelesaikan sebuah komputer pemecah kode rahasia yang diberi namakan Colossus yang berfungsi untuk memecahkan kode rahasia yang digunakan oleh negara Jerman.
            li Setelah beberapa tahun terlewati perkembangan komputer mulai berkembang pada masa itu adalah Electronic Numerical Integrator and Computer singkatannya adalah ENIAC, dirancang oleh John Presper Eckert [1919-1995] dan John W. Mauchly [1907-1980], yang diciptakan berkat kerjasama antara pemerintah Amerika Serikat dan University of Pennsylvania.
            li Komputer ENIAC terdiri dari 18.000 tabung vakum, 70.000 resistor, dan 5 juta titik solder, komputer ENIAC merupakan komputer yang sangat besar ia membutuhkan daya sebesar 160kW. ENIAC merupakan komputer serbaguna [general purpose computer] yang mampu bekerja 1000 kali lebih cepat jika dibandingkan dengan komputer Mark I.
  
      section      
        h2.bullet ENIAC (Electronik Numerical Integrator and Computer)
        img(src="images/ENIAC.png")   
        hr
        ul
            li ENIAC (Electronik Numerical Integrator and Computer) yang dikembangkan tahun 1946 oleh John W. Mauchly dan J. Presper Eckert dari Universitas Pennsylvania merupakan First General Purpose Electronic Computer. 

       section      
        h2.bullet UNIVAC (Universal Automatic Computer)
        img(src="images/UNIVAC.jpg")   
        hr
        ul
            li UNIVAC (Universal Automatic Computer) sudah menggunakan pita magnetik sebagai media input dan outputnya. Merupakan komputer komersial pertama yang dipakai oleh Biro Sensus Amerika Serikat untuk digunakan dalam menghitung sensus penduduk dan sebagai komputer pertama yang dibuat untuk tujuan aplikasi bisnis

       section      
        h2.bullet IBM 701 dan IBM 650 
        img(src="images/IBM701.jpg")   
        hr
        ul
            li IBM 701 dan IBM650 yang sudah merupakan komputer komersial berukuran besar. Sudah menggunakan magnetik drum untuk media penyimpanan luarnya

      section
        h2.bullet Komputer Generasi Kedua
        hr
        ul
          li Sejarah komputer generasi kedua mulai populer pada awal tahun 1960-an. Beberapa ciri utama dari generasi ini di antaranya: 
          li 1. Sudah menggunakan transistor untuk sirkuitnya. Transistor dikembangkan di Bell Laboratories tahun 1947.
          li 2. Lebih kecil, cepat, dapat diandalkan, dan hemat energi dibanding generasi komputer pertama.
          li 3. Menggunakan bahasa assembly yang terdiri dari singkatan-singkatan untuk menggantikan kode biner
          li Contoh komputer generasi kedua yang dikembangkan saat itu adalah IBM 1401.
   
      section
        h2.bullet IBM 1401
        img(src="images/IBM1401.jpg")   
        hr
        ul
          li Sejarah komputer generasi kedua mulai populer pada awal tahun 1960-an. Beberapa ciri utama dari generasi ini di antaranya: 
          li 1. Sudah menggunakan transistor untuk sirkuitnya. Transistor dikembangkan di Bell Laboratories tahun 1947.
          li 2. Lebih kecil, cepat, dapat diandalkan, dan hemat energi dibanding generasi komputer pertama.
          li 3. Menggunakan bahasa assembly yang terdiri dari singkatan-singkatan untuk menggantikan kode biner
          li Contoh komputer generasi kedua yang dikembangkan saat itu adalah IBM 1401.
   
      section
        h2.bullet IBM 1401
        img(src="images/IBM1401.jpg")   
        hr
        ul
            li Sejak tahun 1965, sebagian besar bisnis-bisnis besar menggunakan komputer generasi ini untuk mengolah informasi keuangan.

      section
        h2 Generasi Komputer 3
        hr
        ul
           li Walaupun transistor dalam banyak hal mengungguli tube vakum,
           li namun transistor menghasilkan panas yang cukup besar, yang dapat berpotensi merusak bagian-bagian internal komputer.
           li Batu kuarsa (quartz rock) menghilangkan masalah ini. Jack Kilby, seorang insinyur di Texas Instrument, mengembangkan sirkuit terintegrasi (IC : integrated circuit) pada tahun 1958.
           li IC mengkombinasikan tiga komponen elektronik dalam sebuah piringan silikon kecil yang terbuat dari pasir kuarsa.
           li Pada ilmuwan kemudian berhasil memasukkan lebih banyak komponen-komponen ke dalam suatu chip tunggal yang disebut semikonduktor.
           li Hasilnya, komputer menjadi semakin kecil karena komponen-komponen dapat dipadatkan dalam chip.
           li Ajuan komputer generasi ketiga lainnya adalah penggunaan sistem operasi (operating system) yang memungkinkan mesin untuk 
           li menjalankan berbagai program yang berbeda secara serentak dengan sebuah program utama yang memonitor dan mengkoordinasi memori komputer.

      section(data-bespoke-state='emphatic')
        h2 Genera Komputer 4
        hr
        ul
           li Setelah IC, tujuan pengembangan menjadi lebih jelas: mengecilkan ukuran sirkuit dan komponen-komponen elektrik.
           li Perkembangan yang demikian memungkinkan orang-orang biasa untuk menggunakan komputer biasa.
           li Komputer tidak lagi menjadi dominasi perusahaan-perusahaan besar atau lembaga pemerintah.
           li Komputer-komputer ini, yang disebut minikomputer, dijual dengan paket piranti lunak yang mudah digunakan oleh kalangan awam.
           li Piranti lunak yang paling populer pada saat itu adalah program word processing dan spreadsheet.
           li Pada awal 1980-an, video game seperti Atari 2600 menarik perhatian konsumen pada komputer rumahan yang lebih canggih dan dapat diprogram.
           li Pada tahun 1981, IBM memperkenalkan penggunaan Personal Computer (PC) untuk penggunaan di rumah, kantor, dan sekolah.
           li IBM PC bersaing dengan Apple Macintosh dalam memperebutkan pasar komputer.
           li Pada masa sekarang, kita mengenal perjalanan IBM compatible dengan pemakaian CPU: IBM PC/486, Pentium, Pentium II, Pentium III, Pentium IV (Serial dari CPU buatan Intel).

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild